.header
	position relative
	height 20em
	overflow hidden

@media (min-width 992px)
	.header
		height 30em

.header img
	width 100%

.header .title
	position absolute
	left 0
	right 0
	bottom 0
	background-color black
	opacity 0.6
	color white

.header .title h1, .header .title .subtitle
	display inline-block

.header .title h1
	margin-right 0.4em
	margin-bottom 0

.header .title .subtitle
	font-size 1.4em

.header h1
	color white
