
.btn-link
	color #337ab7

.header
	position relative
	height 18em
	overflow hidden
	img
		width 100%
	h1
		color white
	.title
		position absolute
		left 0
		right 0
		bottom 0
		background-color black
		opacity 0.6
		color white
		h1
		.subtitle
			display inline-block
		h1
			margin-right 0.4em
			margin-bottom 0
		.subtitle
			font-size 1.4em
	@media (min-width 768px)
		height 22em
	@media (min-width 992px)
		height 30em

.summary
	margin-top 10px
	margin-bottom 10px
	background-color #eee
	border-radius 4px
	padding 8px
	text-align center
	font-size 1.2em
	.glyphicon
		margin-right 6px

.about
.facilities
	font-size 1.2em

.facilities
	margin-bottom 10px
	.glyphicon
		margin-right 6px

.room-type
	.actions
		margin-top 23px

.row.images
	margin-left -5px
	margin-right -5px
	[class^="col-"]
		padding-left 5px
		padding-right 5px

#room-types-container-one
	position relative
	.active
		position absolute
		top 0
		left 0
		transition opacity 1s ease
		opacity 1
	.in
	.out
		opacity 0